/.vs/*
/RestServer/obj/*
/RestServer/bin/*
/RestServer.Tests/bin/*
/RestServer.Tests/obj/*
/RestServer.WebServer/bin/*
/RestServer.WebServer/obj/*
/MonsterTradingCardGame/bin/*
/MonsterTradingCardGame/obj/*
/MonsterTradingCardGame.UnitTests/bin/*
/MonsterTradingCardGame.UnitTests/obj/*
